.circle{
    position: absolute;
    border-radius: 50%;
    background: #ffffff;
    animation: ripple 15s infinite;
    box-shadow: 0px 0px 1px 0px #508fb9;
}
  
.small{
    width: 200px;
    height: 200px;
    left: -100px;
    bottom: -100px;
}
  
.medium{
    width: 400px;
    height: 400px;
    left: -200px;
    bottom: -200px;
}
  
.large{
    width: 600px;
    height: 600px;
    left: -300px;
    bottom: -300px;
}
  
.xlarge{
    width: 800px;
    height: 800px;
    left: -400px;
    bottom: -400px;
}
  
.xxlarge{
    width: 1000px;
    height: 1000px;
    left: -500px;
    bottom: -500px;
}
  
.shade1{
    opacity: 0.1;
}
.shade2{
    opacity: 0.1;
}
  
.shade3{
    opacity: 0.4;
}
  
.shade4{
    opacity: 0.4;
}
  
.shade5{
    opacity: 0.3;
}
  
@keyframes ripple{
    0%{
      transform: scale(0.8);
  }
    
  50%{
      transform: scale(1.2);
  }
    
    100%{
      transform: scale(0.8);
  }
}
  
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

.navbar{ background:#0F2C59;}

.nav-link , .navbar-brand{ color: #271616; cursor: pointer;}

.nav-link{ margin-right: 1em !important;}

.nav-link:hover{ background: #f4f4f4; color: #434241; }

.navbar-collapse{ justify-content: flex-end;}

.navbar-toggler{  background:#fff !important;}

.navbar-collapse{
     justify-content: flex-end;
}

.bg-dark{
    background-color:#343a40!important
}
    .bg-primary{
    background-color:#007bff!important
}

.header{
    background-attachment:scroll;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.col-md-12{
    background-color: rgb(108, 97, 97);
    border: 2px solid black;
    height: 150px;
    
}

.carousel-inner{
    height: 350px;
    margin-top: 0px;
    z-index: -1;
}

#crsl:hover{
    opacity: 40%;
}

.col-md-4{
    background-color: #66abf0;
    height: 200px;
    z-index: -1;

}
.catalogue {
    display: inline-block; /* Add this line to make .catalogue inline with the image */
    vertical-align: top; /* Add this line to align the .catalogue content with the top of the image */
    width: 350px;
    height: 70px;
    margin-top: 0px;
    margin-left: 45px;

}

.firstP {
    margin-top: 5px;
    margin-left: 45px; /* Adjust the margin as needed */
}

.img1 {
    border: 2px solid black;
    border-radius: 50px;
    padding: 5px;
    width: 35px;
    height: 35px;
    vertical-align: middle; /* Add this line to vertically align the image with the text */
    margin-left: 15px;
    margin-right: 0px;
    margin-top: 25px;

}

.col-md-6{
    height: 350px;
}

.about{
    margin-top: 55px;
    margin-left: 65px;
    width: 200px;
}
.main_heading {
    font-size: 25px;
    font-family: 'EB Garamond', serif;
}
.short_info{
    margin-left: 65px;
    font-family: 'Crimson Text', serif;
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
}

.description{
    margin-left: 65px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    margin-top: 15px;
    font-size: 18px;
}

.button-18 {
  align-items: center;
  background-color: #0A66C2;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  margin-top: 25px;
  margin-left: 65px;
}

.button-18:hover,
.button-18:focus { 
  background-color: #16437E;
  color: #ffffff;
}

.button-18:active {
  background: #09223b;
  color: rgb(255, 255, 255, .7);
}

.button-18:disabled { 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}

.imgg{
    margin: 5px;
    height: 320px;
    width: 300px;
    float: right;
    margin-right: 115px;
    margin-top: 15px;
    box-shadow: 10px 10px 5px #94aec7;
    -moz-box-shadow: 10px 10px 5px #94aec7;
    -webkit-box-shadow: 10px 10px 5px #1919706b;
    -khtml-box-shadow: 10px 10px 5px #94aec7;
}


#head2{
    margin-left: 10px;
    margin-top: 75px;
}
.card{
    margin-top: 15px;
    margin-left: 70px;
    width: 250px;
    float: left;
    margin-bottom: 25px;
}
.namee{
    border: 1px solid hsla(0, 13%, 35%, 0.321);
    border-radius: 20px;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(248, 167, 167));
    margin-left: 55px;
    width: 27px;
    height: 67px;
    padding-top: 8px;
    padding-bottom: 12px;
    padding-right: 12px;
    padding-left: 10px;
}

#nm3{
    border: 1px solid hsla(0, 13%, 35%, 0.321);
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(248, 167, 167));
    border-radius: 20px;
    margin-left: 55px;
    width: 27px;
    height: 67px;
    padding-top: 8px;
    padding-bottom: 12px;
    padding-right: 8px;
    padding-left: 6px;
}

#icn{
    width: 35px;
    height: 35px;
    margin-right: 5px;
    padding: 4px;
    background-color: #e8e2de;
    border: 1px solid #e8e2de;
    border-radius: 50%;
}

.card-img-top:hover{
    opacity: 35%;
}


#icn:hover{
    opacity: 30%;
}

.footer {
    position: relative;
    width: 100%;
    background: #1919706b;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}
.fa {
    padding: 10px;
    font-size: 20px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin-right: 5px;
    background-color: black;
    color: white;
    margin-bottom: 5px;
}
.social-icon__item,
.menu__item {
    list-style: none;
}
  .social-icon__link:hover {
    transform: translateY(-10px);
}
.menu__link {
    font-size: 1.2rem;
    color: #000000;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
    font-size: 20px;
    margin-right: 25px;
}
.menu__link:hover {
    opacity: 25;
    color: white;
}
  
.footer p {
    color: #000000;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
    font-size: 15px;
}
